<!DOCTYPE html>
<html>
  <head>
    <link
      href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJuSURBVEhL3ZVZq01hGICXecgcGW7M85QL4gYXkjFTEoWQuSiRJCUhRaIQGVJcSIrMQ+bxyu/wMzzP97X2fs/ei3NO7jz1tN+1zl7rfN/7ve+7izbSE8fgHJyE/fGf6YF78SW+wZt4Bi/jY/yEJ3Aotpu1+AN3YD9vVNAVl+JHPIqdsVU64Cm8hr2wO27Fp/gZv6MvHIer0dX7zC50V73xr5zDIzksFuNXPIgDvdHAAtyIfbAjLkRT6c4qWYPXc1jsxkf4p/RE1uENdCeb8SI2YSrMuZ+u7CH6QFs5gCdzWNzHyTms44rV7X3BvhjpgqvwMG7DqpR5BlNwKt71RuQV+tJNaM4jo/AtHsdlaOn+xJUYmY6mSiyEbjnMafEFMhOt/xJX/g7Hpqs6fseKmpiu6lhpPnMa53pDRuOtHKYyi/VsWlx5FfPxQg5r3MbhuAU98MQstEPFLjUNJeY8XkdcjF0e8T2z0QaspXo8Xs1h2l48YFexPYdN+JzjI2KJehYb0GJIWOt2qjhbbJ4Sh5pVFc+lxLSapshrdDDarEu8UeKpl7m31GKDLUeLoNyZ/XEJXUxkMD7LYfq0w2t4kCvQFJmuIRixWw/lMFXalRy2wDHjeTmfnnsjYuO8x7J796CHVeJqnTXi4ZqKyDy0++UsOseaOIb7c5iaqBM6tsUUxiHmmQ3KYToHfxtMq7vzb5Vjxhe+wHKl03AfjsR73gg4nk3ZeXTlA3AEOs8a09sCt/8EYyW5q/U5rDEMf6H1LjPwG1q6rWIqrGf/kTX9ARuHnzhCJqDN6Xfb/dPpj/sd3JmumvFgH+CidPWfUhS/AR3cYK6WRXFEAAAAAElFTkSuQmCC"
      rel="icon"
      type="image/x-icon"
    />
    <script
      async
      crossorigin="anonymous"
      src="https://polyfill.io/v3/polyfill.min.js?features=default"
    ></script>
    <meta charset="utf-8" />
    <title>ESP-UI</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimal-ui"
    />
  </head>
  <body></body>
</html>
