@import "../../../../tools/commons.less";

@button-size: 50px;
@button-margin: 8px;

.networks {
  width: calc(100% - @button-size - @button-margin) !important;
}

.networks_refresh {
  @size: @button-size - @button-margin - 10px;

  float: right;
  padding: 0;
  margin: @button-margin;
  margin-right: 0;
  width: @button-size - @button-margin;
  height: @button-size - @button-margin;
  padding: (@button-size - @size) / 2 - 2px;
  border: none;
  font-size: @size;
  line-height: @size;
  text-align: center;
  text-decoration: none;
  color: @theme-color-background;
  background-color: @theme-color;
}
