@import "../../tools/commons.less";

.header {
  display        : flex;
  justify-content: space-between;
  margin         : @header-margin;
  height         : @header-height;
  background     : @theme-color;
  min-width      : 20em;
  box-shadow     : rgba(232, 232, 232, 0.8) 0 0 @header-margin @header-margin/2;

  >a {
    height: 100%;

    >svg {
      @margin: 0.6em;

      margin: @margin;
      height: calc(100% - @margin * 2);
    }
  }

  @media @mobile,
  @tablet {
    display: none;
  }
}

.header_mobile {
  display        : flex;
  flex-flow      : column;
  justify-content: space-between;
  margin         : @header-margin;
  min-height     : @header-height;
  background     : @theme-color;
  min-width      : 20em;
  box-shadow     : rgba(232, 232, 232, 0.8) 0 0 @header-margin @header-margin/2;

  >div:first-child {
    display        : flex;
    justify-content: space-between;
    height         : @header-height;
    margin-right   : 1em;

    >a {
      height: @header-height;

      >svg {
        @margin: 0.6em;

        margin: @margin;
        height: calc(@header-height - @margin * 2);
      }
    }
  }

  @media @desktop,
  @desktop-xl {
    display: none;
  }
}

.links {
  display: flex;
}

.links_mobile {
  @margin: 1em;

  display      : flex;
  flex-flow    : column;
  margin-bottom: @margin;

  >.link,
  >.link_selected {
    margin-bottom: 0;
    margin-top   : 0;
    margin-right : @margin;
    margin-left  : @margin;
  }
}