@import "../../tools/commons.less";

@button-padding: 15px;

.selected {
  background: @theme-color-active;
}

.selected_mobile {
  .selected();
  @media @tablet {
    .hidden();
  }
  @media @desktop {
    .hidden();
  }
  @media @desktop-xl {
    .hidden();
  }
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  width: 100%;
  height: @header-height;
  background: @theme-color;

  a,
  button {
    line-height: @header-height;
    padding: 0 @button-padding;
    text-decoration: none;
    text-align: center;
    will-change: background-color;
    color: #eee;
    outline: none;
  }

  @media @mobile {
    > * {
      order: 2;
      display: none;
    }
    > *:last-child {
      display: initial;
    }
    .selected,
    .selected_mobile {
      display: initial;
      order: 1;
    }
  }
}

.header_expanded {
  .header();

  @media @mobile {
    display: inline-flex;
    flex-direction: column;
    height: auto;

    > * {
      display: initial;
    }
  }
}
