<!DOCTYPE html>
<html>
  <head>
    <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREBERAQAAAREQEREBAAABAAAAAQEAAAEAAAABAQAAAQAAABEBAAABEQAREQEREAERABERAREQAQAAEQABABABAAAQAAEAEAEAABAAAQAQAREQEREBERABERAREQEREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
      rel="icon"
      type="image/x-icon"
    />
    <script
      async
      crossorigin="anonymous"
      src="https://polyfill.io/v3/polyfill.min.js?features=default"
    ></script>
    <meta charset="utf-8" />
    <title>ESP-UI</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimal-ui"
    />
  </head>
  <body></body>
</html>
